<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <ros2_control name="GazeboSystem" type="system">
        
        <!-- <xacro:if value = "$(arg is_sim)">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>    
        </xacro:if>
       
        <xacro:unless>
            <hardware>
                <plugin>$(find serial_brandi)/serial_brandi/TurtleInterface</plugin>
                <param name="port">/dev/tty/ACM0</param>
            </hardware> 
        </xacro:unless> -->

        <!-- ROS2_control Common Interfaces-->
        <joint name="left_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-0.25</param>
                <param name="max">0.25</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <joint name="right_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-0.25</param>
                <param name="max">0.25</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find turtle)/config/my_controllers.yaml</parameters>
            <!-- This file alone won't be able to correctly visualize the bot in 
             RViz as the correct gazebo plugin info won't be published to RViz. 
             For this, we must include the gazebo_control.xacro file as well, or 
             include the gazebo plugin information in this file under the 
             gazebo and plugin tags -->
        </plugin>
    </gazebo>

</robot>